<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{data.add.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{data.add.headline}]]</h1>
                <div>
                    <a th:href="@{/datas}" class="btn btn-secondary">[[#{data.add.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('data')}" />
            <form th:action="${requestUri}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='data', field='temperature', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='data', field='humidity', type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='data', field='windSpeed', type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='data', field='parameter')}" />
                <div th:replace="~{fragments/forms::inputRow(object='data', field='sensor', type='select')}" />
                <input type="submit" th:value="#{data.add.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
