<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{alert.list.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{alert.list.headline}]]</h1>
                <div>
                    <a th:href="@{/alerts/add}" class="btn btn-primary ms-2">[[#{alert.list.createNew}]]</a>
                </div>
            </div>
            <div th:if="${alerts.empty}">[[#{alert.list.empty}]]</div>
            <div th:if="${!alerts.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th scope="col">[[#{alert.id.label}]]</th>
                            <th scope="col">[[#{alert.event.label}]]</th>
                            <th scope="col">[[#{alert.time.label}]]</th>
                            <th scope="col">[[#{alert.sensor.label}]]</th>
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="alert : ${alerts}">
                            <td>[[${alert.id}]]</td>
                            <td>[[${alert.event}]]</td>
                            <td>[[${alert.time}]]</td>
                            <td>[[${alert.sensor}]]</td>
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/alerts/edit/{id}(id=${alert.id})}" class="btn btn-sm btn-secondary">[[#{alert.list.edit}]]</a>
                                    <form th:action="@{/alerts/delete/{id}(id=${alert.id})}"
                                            th:data-confirm-message="#{delete.confirm}" method="post" class="js-submit-confirm d-inline">
                                        <button type="submit" class="btn btn-sm btn-secondary">[[#{alert.list.delete}]]</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
